:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 576px) {
    
    .app-link {
        font-size: 14px;
    }
}

body {
    margin: 0px auto;

}


h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 38x;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    padding: 20px 0px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin: 30px 0px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}


.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.app-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 4px;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.yoga-app {
    background: var(--primary-color);
}

.img-shadow {
    box-shadow: var(--box-shadow);
}